body
{
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    
}
a {
  text-decoration:none !important;
}
.lineHeight{
  margin-top: -5px;
}
.mainSelector{
  background-image: url(../images/agency.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#Mainnavbar{
  position: relative;
color: #fff;
box-shadow: 0px 2px 2px grey;
z-index: 99999;
background-color: #333 !important;
}
#major ul{  
  background-color:#eee;  
  cursor:pointer;  
}
#major li{  
  padding:12px;
 border-bottom: 1px dotted #ccc;
}
header{
  display: inline-block;
  padding: 0 100px;
  background: #262626;
  width: 100%;
  box-sizing: border-box;
}
header .logo{
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}
header nav{
  float: right;
}
header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li{
  list-style: none;
  position: relative;
}
header nav ul li.sub-menu:before{
  content: '\f0d7';
  font-family: fontAwesome;
  line-height: 50px;
  position: absolute;
  color: #fff;
  right: 5px;
}
header nav ul li.active.sub-menu:before{
  content: '\f0d8';
  font-family: fontAwesome;
  line-height: 50px;
  position: absolute;
  color: #fff;
  right: 5px;
}
header nav ul li ul{
  position: absolute;
  left: 0;
  background: #333;
  display: none;
}
header nav ul li.active ul{
  display: block;
}
header nav ul li ul li{
  display: block;
  width: 200px;
}
header nav ul li a{
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}
header nav ul li a:hover,
header nav ul li a:active{
  color:#fff;
  background: #2196f3;
}


.menu-toggle{
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.sticky-top {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 1020 !important;
}

/*footer design*/
.footer{
    padding: 30px 0px;
}

.top_btn {
  background-color: lightslategray;
  border: none;
  color: white;
  padding: 7px 11px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

/* Darker background on mouse-over */
.top_btn:hover {
  background-color: rosybrown;
}
.middle_header:hover{
	background-color: lightslategray;
}




@media (max-width: 991px){
  header{
    display: inline-block;
    padding: 0 20px;
  }
  .menu-toggle{
    display: block;
  }
  header nav{
    display: block;
    position: absolute;
    width: 100%;
    background: #333;
    top: 50px;
    right: 0;
    transition: 0.5s;
  }
  header nav.activation{
    display: none;
  }
  header nav ul{
    display: block;
    width: 100%;
    text-align: center;
  }
  header nav ul li a{
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
  header nav ul li.active ul{
    position: relative;
    background: #003e6f;
  }
  header nav ul li ul li{
    width: 100%;
  }
}
